* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
h2{
	background-color: #8d1b3d;
	color: #FFF;
	text-align: center;
}

body {
	background: #fff;
}

nav {
	background: #384047;
	height: 60px;
	padding: 0 5px 0;
	text-align: center;
}

nav ul {
	list-style: none;
}

nav ul li {
	display: inline-block;
	width: 84px;
	text-align: center;
}

nav ul li a {
	color: #fff;
	width: 100%;
	line-height: 60px;
	text-decoration: none;
}

nav ul li.selected {
	background: #fff;
}

nav ul li.selected a {
	color: #384047;
}

select {
	width: 94%;
	margin: 11px  0 11px 2%;
	float: left;
}
img {
	max-width: 100%;
}

  list-style: none;
}
#wrapper{
	max-width: 940px;
	margin: 0 auto;
	padding: 0 5%;
}
#gallery li {
  float: left;
  width: 45%;
  margin: 2.5%;
  background-color: #f5f5f5;
  color: #bdc3c7;
}

#gallery li a p {
  margin: 0;
  padding: 5%;
  font-size: 0.75em;
  color: #bdc3c7
}


h1 {
	margin: 40px 0 10px;
	text-align: center;
	color: #384047;
}
p {
	text-align: center;
	color: #777;
}
